--extra-index-url https://dash.steerproject.org/packages
pandas==2.2.2
numpy>=1.21.0
scipy>=1.9.0
shapely>=1.8.0
plotly>=5.0.0
dash>=2.14.0
dash_bootstrap_components>=1.4.0
flask_caching>=2.0.0
nbformat>=5.0.0
gunicorn==23.0.0
