--extra-index-url https://dash.steerproject.org/packages
steer-core==0.1.9
steer-materials==0.1.7
pandas==2.1.4
numpy==1.26.4
datetime==5.5
scipy==1.15.3
shapely==2.1.1
plotly==6.2.0
dash==3.1.1
dash_bootstrap_components==2.0.3
flask_caching==2.3.1
nbformat==5.10.4
gunicorn==23.0.0
redis==6.4.0
